<!DOCTYPE html>
<html>
<head>
    <title>Ошибка сервера</title>
    <script src="{{ url_for('static', filename='js/jquery-latest.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="alert alert-warning message-error" role="alert">
        <h1 class="alert-heading">500</h1>
        <h5>Произошла ошибка сервера</h5>
    </div>
</body>
</html>