{% extends "index.html" %}
{% block title %}Просмотр ошибок{% endblock %}
{% block content %}

<div class="card m-1">

    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col">Время</th>
            <th scope="col">Тип</th>
            <th scope="col">Текст</th>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for time,type,text in logs %}
        <tr>
            <td>{{time}}</td>
            <td>{{type}}</td>
            <td>{{text}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}